<!DOCTYPE html>
<html>
    <head>
        <title>404: Page Not Found</title>
        {{> head}}

        <!-- <script src="../src/app.js"></script> -->
    </head>
    <body>
        {{>header}}
        <main class="fill-screen-y-head-foot">
	        <h1>{{errorMessage}}</h1>
        </main>
        {{>footer}}
    </body>
</html>