<!DOCTYPE html>
<html>
    <head>
        <title>Account Temp</title>
        {{> head}}
		<link rel="stylesheet" type="text/css" href="/css/account-style.css">
    </head>
    <body>
        {{> header}}        
        <main id="sign" class="min-fill-screen-y main-card">
            <div class="sign-wrapper main-card-inner">
                <div class="switch-sign">
                    <button id="go-signin">Sign In</button>
                    <button id="go-signup" class="sign-not-active">Sign Up</button>
                </div>

                <form class="hidden-transition-potato" name="signin" novalidate>
                    <h1 class="form-text">Welcome Back!</h1>

                    <div id="signin-error" class="form-bar error-message hidden">
                        X
                    </div>

                    <div class="form-bar">
                        <input type="text" class="form-input" name="signin-email" required>
                        <span class="form-input-placeholder">Email Address</span>
                    </div>
                    <div class="form-bar">
                        <input type="password" class="form-input" name="signin-password" required>
                        <span class="form-input-placeholder">Password</span>
                    </div>

                    <button class="submit-button center-block-elem">LOGIN</button>
                </form>
                    
                <form class="hidden-transition-potato hidden-transition-driver" name="signup" novalidate>
                    <h1 class="form-text">Create an Account</h1>
                       
                    <div id="signup-error" class="form-bar error-message hidden">
                        X
                    </div>
                        
                    <div class="form-bar">
                        <input type="text" class="form-input" name="signup-name" required>
                        <span class="form-input-placeholder">Name</span>
					</div>
					<div class="form-bar">
                        <input type="text" class="form-input"  name="signup-email" required>
                        <span class="form-input-placeholder">Email Address</span>
					</div>
                    <div class="form-bar">
					    <input type="password" class="form-input"  name="signup-password" required>
                        <span class="form-input-placeholder">Password</span>
					</div>
                    <div class="form-bar">
                        <input type="password" class="form-input" name="signup-reenter" required>
                        <span class="form-input-placeholder">Re-enter Password</span>
                    </div>
                    <div class="form-bar">
						<input type="file" class="form-input-verify" accept="pdf" name="signup-verify" id="signup-verify" required>
						<label class="form-input-verify-placeholder" for="signup-verify">Add PDF Verification</label>
					</div>

                    <button class="submit-button center-block-elem">SIGN UP</button>
                </form>
            </div>
        </main>
        {{>footer}}
        <script src="/js/account-script.js"></script>
    </body>
</html>
