<!doctype html>
<html>
    <head>
        <title>Request for Assistance</title>
        {{> head}}
    </head>
    <body>
        {{>header}}
        <main id="assistance">
            <div class="form-wrapper min-fill-screen-y">
                <div class="description-panel">
                    <div class="panel-title">Soldier Request for Support</div>
                    
                    <div class="description">
                        <p class="additional">
                            Fill out the form if you would like to request assistance for yourself or your platoon.
                        </p>
                        
                        <p class="note">
                            Please use your military email address if you would not like to provide official documentation. 
                        </p>
                    </div>
                </div>
                
                <form class="request-form-panel" name="assist-form" novalidate>
                    <h1>We are here to help.</h1>

                    <div class="form-bar">
                        <select class="program-selection" name="program-box" required>
                            <option value="" disabled selected>Select Program</option>
                            <option value="Financial Peace for Veterans">
                                Financial Peace for Veterans
                            </option>
                        </select>
                    </div>
                        
                    <div class="form-bar form-bar__partial--small">
                        <div>
                            <input type="text" class="form-input--small" name="first-name" required>
                            <span class="form-input-placeholder--small">First Name</span>
                        </div>
                        
                        <div>
                            <input type="text" class="form-input--small" name="last-name" required>
                            <span class="form-input-placeholder--small">Last Name</span>
                        </div>
					</div>
                    
                    <div class="form-bar--small">
                        <input type="text" class="form-input--small" name="email-address" required>
                        <span class="form-input-placeholder--small">Your Email Address</span>
                    </div>

                    <div class="form-bar--small assist-note">
                        <div class="field-title">NAME OF RECIPIENT</div>
                        <div class="field-note">Leave blank if you are the intended recipient.</div>
                    </div>
                    
                    <div class="form-bar form-bar__partial--small">
                        <div>
                            <input type="text" class="form-input--small" name="recipient-first-name" required>
                            <span class="form-input-placeholder--small">First Name</span>
                        </div>
                        
                        <div>
                            <input type="text" class="form-input--small" name="recipient-last-name" required>
                            <span class="form-input-placeholder--small">Last Name</span>
                        </div>
					</div>
                    
                    <button name="submit" class="submit-button center-block-elem">REQUEST FOR ASSISTANCE</button>
                    
                </form>
            </div>
        </main>
        {{>footer}}
        <script src="/js/assistance-script.js"></script>
    </body>
</html>