<!doctype html>
<html>
    <head>
        <title>Request for Assistance</title>
        {{> head}}
        <link rel="stylesheet" type="text/css" href="/css/assistance-style.css">

        <!-- <script src="/app.js"></script> -->
    </head>
    <body>
        {{>header}}
        <main id="assistance">
            <div class="form-wrapper min-fill-screen-y">
                <div class="description-panel">
                    <div class="panel-title">Soldier Request for Support</div>
                    
                    <div class="description">
                        <h2>We are here to help.</h2>
                        
                        <p>
                            Fill out the form if you would like to request assistance for yourself or your platoon.
                        </p>
                        
                        <p class="note">
                            Please use your military email address if you would not like to provide official documentation. 
                        </p>
                    </div>
                </div>
                
                <form class="request-form-panel" id="request-form" action ="#">
                    <div class="field">
                        <div class="field-title">PROGRAM</div>
                        
                        <select class="program-selection user-input" id="program-box" required>
                            <option value="" disabled selected>Select One</option>
                            <option value="Financial Peace for Veterans">
                                Financial Peace for Veterans
                            </option>
                        </select>
                    </div>
                        
                    <div class="field">
                        <div class="field-title">YOUR NAME</div>
                        
                        <div class="field-line">
                            <input type="text" class="user-input" placeholder="First Name" id="first-name" required>
                            <input type="text" class="user-input" placeholder="Last Name" id="last-name" required>
                        </div>
                    </div>
                    
                    <div class="field">
                        <div class="field-title">NAME OF RECIPIENT</div>
                        <div class="field-note">Leave blank if you are the intended recipient.</div>
                        
                        <div class="field-line">
                            <input type="text" class="user-input" placeholder="First Name" id="recipient-first-name">
                            <input type="text" class="user-input" placeholder="Last Name" id="recipient-last-name">
                        </div>
                    </div>
                    
                    <div class="field">
                        <div class="field-title">YOUR E-MAIL ADDRESS</div>
                        <input type="text" class="user-input" placeholder="E-mail Address" id="email-address" required>
                    </div>  
                    
                    <div class="field">
                        <input type="submit" class="submit" value="SUBMIT YOUR REQUEST" class="center">
                    </div>
                </form>
            </div>
        </main>
        {{>footer}}
        <script src="/js/assistance-script.js"></script>
    </body>
</html>