<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
        {{> head}}
    </head>
    <body>
        {{> header}}        
        <main id="contactus" class="min-fill-screen-y main-card">
            <div class="contactus-wrapper main-card-inner">
                <form class="form-contactus" name="contactus" novalidate> 
                    <h1>Contact Us</h1>
                    
                    <div id="contactus-error" class="form-bar error-message hidden">
                        X
                    </div>
                    
                    <div class="form-bar form-bar__partial--small">
                        <div>
                            <input type="text" class="form-input--small" name="firstname" required>
                            <span class="form-input-placeholder--small">First Name</span>
                        </div>
                        
                        <div>
                            <input type="text" class="form-input--small" name="lastname" required>
                            <span class="form-input-placeholder--small">Last Name</span>
                        </div>
					</div>
					<div class="form-bar--small">
                        <input type="text" class="form-input--small"  name="email" required>
                        <span class="form-input-placeholder--small">Email Address</span>
					</div>
                    <div class="form-bar--small">
					    <input type="text" class="form-input--small"  name="subject" required>
                        <span class="form-input-placeholder--small">Subject</span>
					</div>
                
					<div class="form-bar--small">
						<textarea class="form-input--small" name="body" rows="8" required></textarea>
						<span class="form-input-placeholder--small">Message</span>
					</div>

                    <button class="submit-button center-block-elem">SEND</button>
                </form>
            </div>
        </main>
        {{>footer}}
        <script src="/js/contactus-script.js"></script>
    </body>
</html>
