<!DOCTYPE html>
<html>
	<head>
		<title>Events</title>
		{{> head}}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>
		{{> header}}		
		<main id="events" class="min-fill-screen-y">
			
			<li class="event-filter">
				<input type="text" id="event-search-query" class="event-filter-query" placeholder="Search for event names..">
			</li>
			<li class="event-filter">
				<input type="checkbox" id="event-filter-activate-date" class="event-filter-active">Date
				<input type="date" id="event-filter-input-date-start" class="event-filter-query" placeholder="Specify a start date">
				<input type="date" id="event-filter-input-date-end" class="event-filter-query" placeholder="Specify an end date">
			</li>
			<li class="event-filter">
				<input type="checkbox" id="event-filter-activate-user" class="event-filter-active">User
				<input type="text" id="event-filter-input-user" class="event-filter-query" placeholder="Specify a user">
			</li>
			<li class="event-filter">
				<input type="checkbox" id="event-filter-activate-location" class="event-filter-active">Location
				<input type="text" id="event-filter-input-location" class="event-filter-query" placeholder="Specify a location">

			</li>
			<button class="update-events-search">Update search</button>
			<div class="events-list">{{> eventslist}}</div>
				
			{{#if error}}
				{{> error}}
			{{/if}}

		</main>
		{{> footer}}
		<script src="js/event-script.js"></script>
	</body>
</html>