<!DOCTYPE html>
<html>
	<head>
		<title>Events</title>
		{{> head}}
	</head>
	<body>
		{{> header}}		
		<main id="events" class="min-fill-screen-y">
			<div class="events-list">
				{{> eventslist}}
				
				{{#if error}}
					{{> error}}
				{{/if}}
			</div>
		</main>
		{{> footer}}
		<script src="js/event-script.js"></script>
	</body>
</html>