<!DOCTYPE html>
<html>
	<head>
		<title>Events</title>
		{{> head}}
		<link rel="stylesheet" type="text/css" href="/css/event-style.css">

		
	</head>
	<body onload="init()">
		{{> header}}
		<main class="event-column-background min-fill-screen-y">
			<div class="form-container">
				<form name="event-creation" novalidate>
					<div>
						<input type="text" name="event-description" placeholder="Description">
					</div>
					<div>
						<input type="text" name="event-location" placeholder="location">
					</div>
					<div>
						<input type="text" name="event-time" placeholder="Time">
					</div>
					<button>Submit</button>
				</form>
			</div>
			<div class="event-column">
				<li class="event">
					<div class="collapsible">
						<h1>Event Title</h1>
						<!-- <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" class="event-logo" > -->
					</div>
					<div class="content">
						<p>Description: Lorem</p>	
						<p>Time: Ispum</p>
						<p>Place: Merol</p>	
					</div>
				</li>

				<li class="event">
					<div class="collapsible">
						<h1>Event Title2</h1>
						<!-- <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" class="event-logo" > -->
					</div>
					<div class="content">
						<p>Description: Nice</p>
						<p>Time: Today</p>
						<p>Place: Here</p>	
					</div>
				</li>

				<li class="event">
					<div class="collapsible">
						<h1>Event Title3</h1>
						<!-- <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" class="event-logo" > -->
					</div>
					<div class="content">
						<p>Description: Nice</p>	
						<p>Time: Today</p>
						<p>Place: Here</p>	
					</div>
				</li>
			</div>
		</main>
		{{> footer}}
		<script src="js/event-script.js"></script>
	</body>
</html>