<!DOCTYPE html>
<html>
	<head>
		<title>Events</title>
		{{> head}}
	</head>
	<body>
		{{> header}}		
		<main id="events" class="min-fill-screen-y">
			<input type="text" id="search-query" onkeyup="myFunction()" placeholder="Search for names..">
			
			<div class="events-list">{{> eventslist}}</div>
				
			{{#if error}}
				{{> error}}
			{{/if}}

		</main>
		{{> footer}}
		<script src="js/event-script.js"></script>
	</body>
</html>