<!DOCTYPE html>
<html>
    <head>
		<title>Home</title>
		{{> head}}
		<link rel="stylesheet" type="text/css" href="/css/home-style.css">
    </head>
    <body id="home">
      	{{> header}}
       	<main class="min-fill-screen-y main-card">
			<div class="mission-wrapper main-card-inner">
				<div class="intro-hook">There is life after service</div>
				<div class="intro-followup">
					WHERE DO YOU WANT IT TO TAKE YOU?
				</div>
				<a href="/events" class="button__learn-more">
					<span>L</span>{{!-- note! these 
				--}}<span>e</span>{{!-- comments
				--}}<span>a</span>{{!-- serve a 
				--}}<span>r</span>{{!-- purpose
				--}}<span>n</span>{{!-- 
				--}}<span>&nbsp;</span>{{!-- 
				--}}<span>M</span>{{!-- they remove
				--}}<span>o</span>{{!-- whitespace
				--}}<span>r</span>{{!-- btwn elements
				--}}<span>e</span>
					<i class="fas fa-arrow-right"></i>
				</a>
			</div>
       	</main>
        {{> footer}}
    </body>
</html>
