<!DOCTYPE html>
<html>
    <head>
		<title>Home</title>
		{{> head}}
		<link rel="stylesheet" type="text/css" href="/css/home-style.css">

       	<!-- <script src="../src/app.js"></script> -->
    </head>
    <body>
      	{{>header}}
       	<main id="main" class="fill-screen-y">
			<div class="mission-wrapper">
				<div class="intro-hook">There is life after service</div>
				<div class="intro-followup">
					WHERE DO YOU WANT IT TO TAKE YOU?
				</div>
				<a class="button__learn-more">
					<span>L</span>{{!-- note! these 
				--}}<span>e</span>{{!-- comments
				--}}<span>a</span>{{!-- serve a 
				--}}<span>r</span>{{!-- purpose
				--}}<span>n</span>{{!-- 
				--}}<span>&nbsp;</span>{{!-- 
				--}}<span>M</span>{{!-- they remove
				--}}<span>o</span>{{!-- whitespace
				--}}<span>r</span>{{!-- btwn elements
				--}}<span>e</span>
					<i class="fas fa-arrow-right"></i>
				</a>
			</div>
       	</main>
        {{>footer}}
    </body>
</html>
