<!DOCTYPE html>
<html>
    <head>
        <title>Portal</title>
        {{> head}}
		<link rel="stylesheet" type="text/css" href="/css/portal-style.css">
        
    </head>
    <body>
        {{>header}}
        <main class="min-fill-screen-y main-card">
            <div class="user-info main-card-inner">
                <div class="info-field">
                    <span class="name">Full Name</span>
                        <div class="spacer"></div>
                    <div class="field-container">
                        <div class="field-text">{{name}}</div class="field-text">
                        <input class="field-textbox input-value hidden" id="portal-name" placeholder="Full Name" value={{name}}>
                    </div>
                    <button class="button-edit button-edit-info">O</button>
                </div>
                <div class="info-field">
                    <span class="name">Email Address</span>
                        <div class="spacer"></div>
                    <div class="field-container">
                        <div class="field-text">{{email}}</div class="field-text">
                        <input class="field-textbox input-value hidden" id="portal-email" placeholder="Email Address" value={{email}}>
                    </div>
                    <button class="button-edit button-edit-info">O</button>
                </div>
                <div class="info-field">
                    <span class="name">Password</span>
                        <div class="spacer"></div>
                    <div class="field-container">
                        <div class="field-text">************ (arbitrary, testing)</div class="field-text">
                    </div>
                    <button class="button-edit button-edit-pass">O</button>
                </div>
                <div class="password-field hidden">
                    <span class="name">Current Password</span>
                    <input class="input-value" id="portal-curr-pass" placeholder="Current Password">
                        
                    <span class="name">New Password</span>
                    <input class="input-value" id="portal-new-pass" placeholder="New Password">
                </div>
                <button id="button-logout">Logout</button>
                <button id="button-save">Save</button>
            </div>
        </main>
        {{>footer}}
        <script src="/js/portal-script.js"></script>
    </body>
</html>