<footer class="footer lightblue">
  <div class="social-media">
      <div class="social-media-title">Stay Connected</div>

      <div class="social-media-icons">
          <a href="#" class="logo"><i class="fab fa-pinterest"></i></a>
          <a href="#" class="logo"><i class="fab fa-instagram"></i></a>
          <a href="#" class="logo"><i class="fab fa-twitter"></i></a>
          <a href="#" class="logo"><i class="fab fa-facebook-f"></i></a>
      </div>
      
      <div class="subscribe-form">
          <input type="text" class="sub-email" placeholder="E-mail Address" required>
          <input type="submit" class="subscribe" value="SUBSCRIBE">
      </div>
  </div>
  <div class="lower-info">
      @Copyright. All Rights Reserved
  </div>
  
  <script> </script> <!-- Prevents firing of CSS on page load due to script lag (or it's a bug) -->
</footer>
