<header class="header lightblue">	
    <div class="header__logo-box">
        <a class="header__logo" href="/">
            <img src="https://static1.squarespace.com/static/5aabc9909d5abbaa5f9cff43/t/5c3ac3b10ebbe85c2b8987a5/1559053753673/?format=1500w" alt="Logo" />	
        </a>
    </div>
    <div class="header__text-box">
        <h1 class="header__text">	
            Sheep Dog Support	
        </h1>
        <div class ="button-container">	
            <a class="nav-button" href="/">Home</a>
            <a class="nav-button" href="/assistance" >Request Assistance</a>	
            <a class="nav-button" href="/account">Account</a>
            <a class="nav-button button__take-action" href="./events" >Take Action</a>	
        </div>	
    </div>	
</header>
