<header class="header lightblue">	
    <div class="header__logo-box">
        <a class="header__logo" href="/">
            <img src="https://images.squarespace-cdn.com/content/5aabc9909d5abbaa5f9cff43/1547355069014-P71YOMIPRA6UTXJD9XFV/FinalSheepdogSupport.png?format=1500w&content-type=image%2Fpng" alt="Logo" />	
        </a>
    </div>
    <div class="header__text-box">
        <h1 class="header__text">	
            Sheep Dog Support
        </h1>
        <div class ="button-container">	
            <a class="nav-button" href="/">Home</a>
            <a class="nav-button" href="/assistance" >Request Assistance</a>	
            <a class="nav-button" href="/account" id="account">Login</a>
            <a class="nav-button button__take-action" href="/events" >Take Action</a>	
        </div>	
    </div>	
</header>
