/* Can't Use height:100% for some reason, must use concrete numbers like px or vh */
.map-container{
    margin-top: 30px;
    height: 75vh;
    display: flex;
    justify-content: center;
}

#map{
    height:100%;
    width:75%;
}



