  /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #f1d592;
  border: 10px;
  border-radius: 25px 25px 0 0;
  color: #444;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width: 100%;
  overflow: hidden;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: orange;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  border-radius: 0 0 25px 25px;
  padding: 0 18px; /* adds border space for collapsible content */
  background-color: #fcf6e8;

  /* hides content when collapsed */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; /* animation */
}

/*Creates the background*/
.event-column-background { 
  padding: 10px;
  background-image: linear-gradient(
    to right,
  rgba(226, 241, 241, 0.45),
  rgba(160, 245, 234, 0.637)),
   url(https://images.pexels.com/photos/1340504/pexels-photo-1340504.jpeg?cs=srgb&dl=man-standing-on-stage-1340504.jpg&fm=jpg);
  background-size: cover;
  background-repeat: no-repeat; /*Prevents background from repeating*/
  width: 100%;

}
.event-column {
    max-width:  900px; /* sets the maximum width for each event */
    margin:   0 auto; /* centers event column */
    min-height: 111px;
    position: abs;
}
.event {
  list-style: none; /* remove bullet */
  padding: 5px;
}

.event-logo {
  display: flex;
  justify-content: right;
  width: 100px;
  height: 100px;
  float: right;
}
