#portal {
    align-items: flex-start;
}

.portal-wrapper {
    margin: 30px;
    max-width: 900px;
    flex: 1;
    background-color: var(--isabelline);
    display: flex;
    min-height: 500px;
}

/* Portal Left Panel */

.portal-select-panel {
    padding: 20px 0 60px;
    padding-right: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.portal-select-panel h2 {
    margin-top: 40px;
    padding-left: 40px;
}
.portal-select-panel i {
    padding: 0 5px;
    width: 30px;
    text-align: center;
}

.portal-select-area {
    padding: 20px 0;
    position: relative;
    flex-grow: 1;
}

.portal-select-button {
    display: block;
    text-align: left;
    width: 100%;
    background: none;
    font-size: 16px;
    padding: 16px 0;
    padding-left: 36px;
    transition: 0.2s background-color ease;
}
.portal-select-button:hover {
    background: #cfcfcf;
}

#portal-current-select {
    position: absolute;
    background: navy;
    border-radius: 3px 0 0 3px;
    width: 4px;
    height: 36px;
    top: 28px;
    right: 0;
    transition: 0.2s top cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#button-logout {
    background: none;
    text-align: left;
    padding-left: 48px;
    color: navy;
}
#button-logout i {
    transform: scaleX(-1);
}

/* Portal Content Container */

.portal-content-container {
    padding: 50px;
    flex: 3;
    border-left: 1px solid #ddd;
    display: flex;
    justify-content: center;
    position: relative;
}

.portal-content {
    padding: 0 50px;
    padding-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
}
.edit-content,
.portal-content > div {
    width: 100%;
    text-align: center;
}

/** Portal Edit Content Button */

.button__edit-content {
    display: block;
    position: absolute;
    margin: 16px;
    border-radius: 3px;
    top: 0;
    right: 0;
    width: 100px;
    font-weight: bold;
    height: 50px;
    background: none;    
    text-align: center;
    transition: all 250ms;
    font-size: 20px;
}
.hidden-fadein-driver .button__edit-content {
    width: 100px !important;
    height: 50px !important;
}
.button__edit-content:hover {
    background: #ddd;
}

/** Portal Content */

/*** Upper Profile Area */
.portal-name-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.portal-prof-pic {
    width: 100px;
}
.portal-name-block h3 {
    margin: 0;
    margin-bottom: 2px;
}
.portal-username {
    font-style: italic;
    margin-bottom: 10px;
}
.portal-name-block > div {
    margin-left: 30px;
}
.portal-biography {
    margin: 20px 60px;
    padding: 20px;
    background: #e8e8e8;
    border-radius: 8px;
}
.bio-quote {
    font-size: 30px;
    font-family: monospace
}
.portal-location {
    text-align: center;
    font-style: italic;
}


/** Portal Edit Content */

.portal-content .form-bar {
    width: 100%;
}
